.header {
    padding: 40px 0;

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

@media(max-width: $ipadAirV) {
    .header {
        &__inner {
            svg {
                width: 150px;
                height: auto;
            }
        }
    }
}

@media(max-width: $ipadMiniV) {
    .header {
        padding: 20px 0;
    }
}

@media(max-width: $mobile) {
    .header {
        padding: 15px 0;

        &__inner {
            svg {
                width: 135px;
            }
        }
    }
}
