/* fonts */
$mont: "Montserrat", "Arial", sans-serif;
$roboto: "Roboto", "Arial", sans-serif;

/* colors */
$white: #FFFFFF;
$purple: #5101A6;
$darkPurple: #200142;
$brightPurple: #BB6BD9;
$grey: #F6F6FA;
$black: #000000;
$green: #2DA675;

/* other */
$wrapper: 1260px;
$ipadMini: 1024px;
$ipadAirV: 820px;
$ipadMiniV: 768px;
$mobile: 550px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
